body{
    margin:0;
}
*{
    box-sizing: border-box;
    /*border:1px solid rebeccapurple;*/
}
/*****************MENU CONTAINER***************/

.menu-container{
    background-color:lightblue;
    height:80px;
    display: flex;
    align-items: center;
}
.menu-container>*{
    height:80%;
    width:20%;
    border-right: 2px solid;
}
.formating_container{
    display: flex;
    justify-content: space-around;
}
.active-btn{
    background-color: rgb(78, 70, 70);
}
.subgroup{
    width: 45%;
    height:100%
}
.subgroup{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subgroup>*{
    width: 100%;
}
.BUI_container{

    display: flex;
    justify-content: space-between;
}
.BUI_container>*{
    width:30%
}
.color-container{
    display:flex;
    justify-content: space-between;
}
.color-container>*{
    width: 45%;
}
.allignment_container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.allignment_container>*{
    width:20%;
}



/****************END MENU************/

/***************Formula Container******************/
.formula-container{
    background-color:rgb(151, 169, 175);
    height:30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.adress-box{
   width: 10%;;
}
.seperator{
  width: 3%;
}
.formula-box{
   width:80%
}





/****************END FORMULA***********************/

.sheets{
    
    height:40px;
    display: flex;
    
    
    background-color: lightgrey;
}
.add-sheet_container{
    height:100%;
    min-width:30px;
    border:1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: lightgrey;
}
.icon{
    font-size: 1.2rem;
    color: lightgreen;
}
.sheets-list{
    display: flex;
    height: 100%;
    overflow-x: auto;
    
}
.sheets-list::-webkit-scrollbar {
    display: none;
  }
  
  .sheets-list {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
.sheet{
    min-width:60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.active-sheet{
    background-color:white;
}


/*grid container*/

.top-left-block{
    height: 30px;
    width: 25px;
    background-color: gray;
}

.top-row{
    height: 30px;
    background-color: lightgreen;
    display: flex;
    position: absolute;
    top:0px;
    left:25px;
}

.row{
    display:flex;
}
.col{
    min-width:80px;
    border: 1px solid;
    min-height: 30px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.left-col{
    width:25px;
}
.left-col_box{
    height:30px;
    background-color: lightgreen;
    text-align: center;
    border: 1px solid;
}
.grid_container{
    height: calc(100vh - (80px + 30px + 40px));
    overflow: auto;
    position:relative;
}
.grid{
    position: absolute;
    top:30px;
    left:25px;
}