body{
    margin:0;
}
*{
    box-sizing: border-box;
    border:1px solid rebeccapurple;
}
.menu-container{
    background-color: royalblue;
    height:80px;
}
.formula-container{
    background-color: salmon;
    height:30px;
}
.grid{
    height: calc(100vh - (80px + 30px + 40px));
}
.sheets{
    background-color: lightgreen;
    height:30px;
    display: flex;
    min-width: 100vw;
    overflow: auto;
}
.add-sheet_container{
    height:100%;
    width:30px;
    border:1px solid gray;
    display: flex;
    align-items: center;
}
.icon{
    font-size: 1.2rem;
    color: lightgreen;
}
.sheets-list{
    display: flex;
    align-items: center;
    
}
.sheet{
    width:60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active-sheet{
    background-color: white;
}